# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
build/
ios/Pods/
pubspec.lock

# Android
*.iml
.gradle/
/local.properties
**/build/
*.apk
*.aab

# Misc
*.log
*.tmp
